{% extends "index.html" %}
{% block body %}



    <h1 class="ui header">Atherogenic Risk Calculator</h1>
    <p>Following indexes are used for the assessment of cardiovascular risk: </p>
    <div class="ui bulleted list">
  <div class="item">Castelli Risk index I and II (CRI-I and II)</div>
  <div class="item">Atherogenic Index of Plasma (AIP)</div>
  <div class="item">Atherogenic coefficient (AC)</div>
  <div class="item">CHOLIndex</div>
  </div>

    <p> It is important to emphasize that
conventional lipid ratios give a clearer picture in the lipid status of the patient,
although the conventional parameters are in physiological values. Aim of this
article is development of software that could assist in the everyday work of
both laboratory personnel and health workers (nurses, doctors). The
developed software, is easily available, and represents a tool which will ease
daily work in laboratory and will provide insight into the complete lipid status of
the patient for the purpose of a high quality and comprehensive assessment
        of cardiovascular risk. </p>

{% endblock %}