{% extends "index.html" %}
{% block body %}


<div class="ui cards">
  <div class="card">
    <div class="content">
      <div class="header">Edin Begić</div>
      <div class="description">
        Medical Doctor, Cardiology Resident
      </div>
    </div>
    <a class="ui bottom attached button" target="_blank" rel="noopener noreferrer"
        href="https://www.linkedin.com/in/edinbegic">
      <i class="linkedin icon"></i>
      View profile
    </a>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">Mensur Mandžuka</div>
      <div class="description">
        IT Consultant
      </div>
    </div>
    <a class="ui bottom attached button"
       href="https://www.linkedin.com/in/mensur-mandžuka-66a331102" target="_blank" rel="noopener noreferrer">
        <i class="linkedin icon"></i>
      View profile
    </a>
  </div>
</div>
{% endblock %}