{% extends "index.html" %}
{% block body %}

<br>
<form class="ui big form" method="post" action="">
  {{ form.csrf }}
    <p>
  <div class="required field">
    <label>Total cholesterol</label>
    <input type="number" id="total_cholesterol" name="total_cholesterol" placeholder="Enter cholesterol value">
  </div>
  <div class="required field">
    <label>Triglyceride</label>
    <input type="number" id="triglyceride" name="triglyceride" placeholder="Enter triglyceride value">
  </div>
    <div class="required field">
        <label>High-density lipoproteins</label>
        <input type="number" id="high_density_lipoproteins" name="high_density_lipoproteins" placeholder="Enter lipoproteins value">
    </div>
</p>
<p>
  <button class="ui big positive basic button" type="submit">Calculate</button>
  <button class="ui clear big black basic button" type="button">Clear</button>
</p>

</form>

<script type=text/javascript src="{{url_for('static', filename='js/first_step.js') }}"></script>

{% endblock %}